[Unit]
Description=itblog web site
After=network.target

[Service]
User=tabula
WorkingDirectory=/home/tabula/itblog
ExecStart=/home/tabula/itblog/main --mode=release
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target